body {
    font-family: "Raleway", sans-serif;
    color: #fff;
    background-color: #242423;
}

.w-80 {
    width: 80%;
}

h2 {
    border-bottom: 1px solid #ffffff33;
}

#quienes_somos p,
#cards p {
   font-size: 14px;
   color: #fff;
}

nav {
    font-size: 16px;
}

nav .navbar-brand {
    font-size: 18px;
}

nav img {
    width: 25px;
    height: 25px;
}

#section-carousel img {
    max-height: 666px;
}

#quienes_somos i {
    vertical-align: middle;
}
 
 