body {
    font-family: "Raleway", sans-serif;
    color: #fff;
    background-color: #242423;
}

.icon,
#cards .card-body,
#section-form .btn,
footer {
    background-color: #3498DB;
}

.w-80 {
    width: 80%;
}

h2 {
    border-bottom: 1px solid #ffffff33;
}

#cards h2,
#section-form h2 {
    width: 95%;
}

nav,
#section-form input,
#section-form textarea {
    font-size: 16px;
}

#quienes_somos p,
#cards p {
    font-size: 14px;
    color: #fff;
}


nav .navbar-brand {
    font-size: 18px;
}

nav img {
    width: 25px;
    height: 25px;
}

#section-carousel img {
    max-height: 666px;
}

#quienes_somos i {
    vertical-align: middle;
}

#cards img {
    max-height: 120px;
}

#cards h5 {
    font-size: 16px;
    color: #fff;
}

.alert {
    display: none;
}

#section-form label,
#section-form .btn {
    font-size: 14px;
}